#Veemarkt {
    height: 500px;
    background-color: Veemarkt

}

#SintJansplein {
    height: 500px;
    background-color: SintJansplein
  }

#SintJansvliet {
    height: 500px;
    background-color: SintJansvliet
}


#Viséstraat {
    height: 500px;
    background-color: Viséstraat
}


#Damplein {
    height: 500px;
    background-color: Damplein
}

#Lovelingstraat {
    height: 500px;
    background-color: Lovelingstraat
}


