#Veemarkt {
    width: 100%; 
    height: 500px;
}

#SintJansplein {
    width: 100%; 
    height: 500px;
}


#SintJansvliet {
    width: 100%; 
    height: 500px;
}


#Viséstraat {
    width: 100%; 
    height: 500px;
}


#Damplein {
        width: 100%; 
        height: 500px;
}

#Lovelingstraat {
    width: 100%; 
    height: 500px;
}


#ringlaan {
    width: 100%; 
    height: 500px;
}




